$row-grid-height: 700px;

.scheduler {
  padding: 2px 4px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space);
  min-height: calc($row-grid-height + 100px);

  .card-container {
    padding: 10px;
    background: var(--background-color);
    border: 1px solid var(--border-color);
  }

  .shift {
    display: flex;
    gap: var(--space);
    justify-content: space-evenly;
    padding: 10px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    font-weight: bold;

    &__box {
      display: flex;
      flex-direction: column;
      width: 130px;
      text-align: center;
    }

    .shift__label-row {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      height: 100%;
      max-height: $row-grid-height;
      margin-top: 36px;

      div {
        min-width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    .shift__row {
      border: 2px solid var(--border-color);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      max-height: $row-grid-height;

      .shift__spot {
        display: flex;
        border-bottom: 1px dotted var(--border-color);
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 2px;
      }
    }
  }
}

.card-list {
  display: flex;
  gap: 2px 5px;
  flex-wrap: wrap;
}

.empty-box {
  min-width: 108px;
  height: 40px;
}

.box {
  background-color: var(--card-background-color);
  border: 2px solid black;
  border-radius: 10%;
  min-width: 108px;
  height: 40px;
  cursor: grab;
  transition: box-shadow 0.1s;
  box-shadow: none;
  font-weight: bold;
  user-select: none;

  &--active {
    animation: scale 100ms;
    cursor: grabbing;
    box-shadow: 5px 10px 10px hsl(0deg 0% 0% / 0.34);
    background-color: var(--hover-color);
    z-index: var(--grabbed-z-index);
  }
}

.button {
  all: unset;
  padding-right: 6px;
  cursor: pointer;
  color: inherit;
  flex-shrink: 0;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
