.bottom-menu {
  padding: var(--space);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 40px;

  .toggle {
    all: unset;
    cursor: pointer;
    color: inherit;
    border: 2px solid var(--border-color);
    padding: 2px 5px;
    border-radius: 5px;
    margin: 0 5px 5px 0;
    font-weight: bold;

    &--active {
      background-color: #90b4ce;
      color: #fff;
    }
  }

  &__button-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 5px;
  }

  &__button {
    background-color: transparent;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-top: 24px;
  }
  .colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
