.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 4px 0 4px 4px;

  &__button {
    background-color: transparent;
    border: none;
    flex-shrink: 0;
    cursor: pointer;
    color: inherit;
  }

  &__colors {
    display: flex;
    gap: 4px;
    margin-bottom: var(--space);
  }
  &__color-button {
    width: 25px;
    cursor: pointer;
    aspect-ratio: 1;
  }
  &__fieldset-wrapper {
    margin-bottom: var(--space);
  }

  &__fieldset {
    width: 100%;
  }
}
